body{
    margin: auto 0;
    font-family: 'Raleway';
}
header{
    background-image: url(./images/one.jpg);
    background-size: cover;
    color:#fff;
}
.container{
    max-width:1100px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway';
}
header .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 100%;
    padding-top: 10px;
}
.top-menu{
    display: flex;
    justify-content: space-between;
}
#logo{
    font-size: 20px;

}
.navbar a{
    padding: 10px;
    color: #fff;
    flex: 0 0 100%;
}
.header_content{
   display: flex;
   flex-direction: column;
   gap: 25px;
   align-items: center;
   justify-content: center;
   height: 700px;
}
h1,h3,p{
    margin: 0;
    color: #fff;
}
h1{
   font-size: 40px; 
   margin: 0;
}
.header_content .blue-btn{
    display: inline-block;
}

#img-one{
    background-image: url(./images/four.jpg);
    height: 362px;
    background-size: cover;
    width:30%;
}
#img-two{
    background-image: url(./images/two.jpg);
    height: 362px;
    background-size: cover;
    width:70%;
}
#img-three{
    background-image: url(./images/three.jpg);
    height: 362px;
    background-size: cover;
    width:70%;
}
#img-four{
    background-image: url(./images/five.jpg);
    height: 362px;
    background-size: cover;
    width:30%;
}
.images-div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 0px 0px 5px 0px;
}


.blue-btn{
    background-color: #375185;
    color: white;
    padding: 12px 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #3751B5;
    font-size: 12px;
    text-decoration: none;
}
.hr{
    width: 180px;
    border: 1px solid rgb(31, 31, 184);
    margin: 50px auto 40px auto;
}
.content{
    width: 762px;
    margin: 50px auto;
    padding: 50px 0px 60px 0px;
    
    
}
.content h3,h2{
    color: #5A5856;
}
.content p{
   color: #939391;
}
.grey{
    background-color: gainsboro;

}
#tour-header{
    padding-top: 10px;
    margin: 50px auto;
}
.tour-info{
    display: flex;
    justify-content:center;
    gap: 20px;
}
.tour-div{
    width:365px;
    padding: 25px;
}

#logo1{
    font-size: 50px;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px;
}
footer{
    background-color: #526D82;
}
.outer-div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    align-items: center;
    font-size: 12px;
}
#icons{
    font-size: 15px;

}
#input-block{
    padding: 10px 60px 8px 10px;
}
